
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification

  div[class="min-h-screen bg-while-100 py-6 flex flex-col justify-center sm:py-12"]
    div[class="relative py-3 sm:max-w-xl sm:mx-auto"]
      div[class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10"]
        div[class="max-w-md mx-auto"]
            = f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "Email", class:"px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" }
            = f.input :username,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "Username", class:"px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" }
            = f.input :full_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "FullName", class: "px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" }

            = f.input :phone,
                      autofocus: true,
                      input_html: { autocomplete: "Phone", class:"px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" }

            = f.input :bio,
                    autofocus: true,
                    input_html: { autocomplete: "Description", class:"px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" }

            = f.input :password,
                        hint: "leave it blank if you don't want to change it",
                        required: false,
                        input_html: { autocomplete: "new-password", class:"px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" }
            = f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password", class:"px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" }
            = f.input :current_password,
                        hint: "we need your current password to confirm your changes",
                        required: true,
                        input_html: { autocomplete: "current-password", class:"px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" }
            = f.input :current_password,
                        hint: "we need your current password to confirm your changes",
                        required: true,
                        input_html: { autocomplete: "current-password", class:"px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" }

            = f.label :picture, "*Picture"
            = f.file_field :picture,
                    required: true,
                    class:"px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"

            div[class="pt-4 flex items-center space-x-4"]
              = f.button :submit, "Share", class: "bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none"
